{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/fridge/edit/{{ fridge.id }}?_method=PUT" method="POST">
      <fieldset>
        <legend class="my-3"> Edit {{ item.name }}
        </legend>
        <label class="form-label">Item Name:</label>
        <input
          type="text"
          name="item"
          placeholder="Enter Item Name"
          class="form-control"
          required>
        <label class="form-label">Quantity:</label>
        <input
          type="number"
          name="quantity"
          placeholder="Qty"
          class="form-control"
          required>
        <label class="form-label">Date Added:</label>
        <input
          type="date"
          name="dateAdded"
          class="form-control">
        <label class="form-label">Expiration Date:</label>
        <input
          type="date"
          name="expiration"
          class="form-control">
      </fieldset>
      <input
        type="submit"
        class="m-3 btn btn-info"
        value="Make Edit {{ item.name }}">
      <br>
      <a href="/fridge" class="m-3 btn btn-warning">
        Back
      </a>
    </form>
  </div>
{% endblock %}