{% layout 'layout.liquid'%}
{% block content %}
<h2 class="m-3">My Fridge</h2>

    <div class="container-md">
        <h2 class="m-3">Your fridge is empty... Go get some groceries!</h2>
        <a class='m-3 btn btn-info' href="fridge/new">Log New Items Here</a>
    {% endif %}
    </div>
</div>
{% endblock %}