{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Welcome to the Fridge Log</h2>
</div>

<div class="fridge">
    <div class="shelf"></div>
    <div class="shelf"></div>
    <div class="shelf"></div>
    <div class="shelf"></div>
    <div class="shelf"></div>
    <div id="food"></div>
    <div class="freezer door">
            <div class="handle"></div>
    </div>
    <div class="body door">
            <div class="handle"></div>
    </div>

</div>

{% endblock %}